* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #282829;
    text-align: center;
}

.container {
    width: 800px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #550505;
}

h2 {
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #a70404;
    border-bottom: 2px solid #d31919;
    width: 140px;
    padding-bottom: 5px;
    
}

ul {
    margin-left: 20px;
  list-style: none;
}

section {
    margin-bottom: 15px;
}